<!-- Post Card -->
<style>
  .postcard {
      --anim-time             : .4s;
      width                   : 600px;
      height                  : 160px;
      margin-top              : 48px;
      margin-bottom           : 48px;
      position                : relative;
      box-shadow              : -.5rem .5rem 0rem var(--col-body-bg-next);
      animation               : iso_to_straight var(--anim-time) ease forwards;
      background-color        : var(--col-body-bg);
  }
  .postcard:hover {
      transform: scale(2);
      z-index: 2000;
      background-color: var(--col-body-bg-next);
  }

  @keyframes iso_to_straight {
    0% {
      box-shadow: -.5rem .5rem 0rem var(--col-body-bg-next);
    }
    60% {
      transform: translateY(0rem) rotateX(45deg) rotateZ(-45deg);
      box-shadow: -.5rem .5rem 0rem var(--col-body-bg-next);
    }
    100% {
      transform: translateY(0rem) rotateX(0deg) rotateZ(0deg);
      box-shadow: 0 0 0 var(--col-body-bg-next);
    }
  }
  .postcard-text {
      text-align              : right;
      float                   : left;
      width                   : calc(65% - calc(16px * 2));
      height                  : 100%;
      padding-right           : 16px;
      padding-left            : 16px;
      display                 : flex;
      align-items             : center;
  }
  .postcard-text-inner {
      width                     : 100%;
  }
  .postcard-img {
      float                   : left;
      vertical-align          : center;
      width                   : 35%;
      height                  : 100%;
      border-radius           : 0px;
      background-repeat       : no-repeat;
      background-position     : center;
      background-size         : cover;
      object-fit              : cover;
      overflow                : hidden;
  }
  .postcard-img video {
      width                   : 100%;
      height                  : 100%;
      object-fit              : cover; /* Ensures the video covers the container while maintaining aspect ratio */
      object-position         : center; /* Centers the video */
  }
  .postcard-header {
      display                 : inline-block;
      max-width               : 100%;
  }
  .postcard-blurb {
      font-size               : 0.9rem;
  }
</style>

{% if forloop.index %}{% assign i = forloop.index0 %}{% else %}{% assign i = 0 %}{% endif %}
{% assign z = 1000 | minus: i %}
<div class="postcard" style="
  transform: translateY({{ -10 | times: i }}rem) rotateX(45deg) rotateZ(-45deg); z-index: {{ z }};
">
  <a href="{{ site.github.url }}{{ post.url }}" class="postcard">
    <div class="postcard-text">
      <div class="postcard-text-inner">
        <h2 class="postcard-header">{{ post.title }}</h2>
        <br>
        <p class="postcard-blurb">{{ post.blurb }}</p>
      </div>
    </div>
    {% if post.thumbnail contains ".webm" %}
      <div class="postcard-img">
        <video  playsinline autoplay muted loop >
          <source src="{{ site.github.url }}/assets/img/{{ post.thumbnail }}" type="video/webm">
        </video>
      </div>
    {% else %}
      <div class="postcard-img" style="background-image: url({{ site.github.url }}/assets/img/{{ post.thumbnail }});">
      </div>
    {% endif %}
  </a>
</div>