:root {
    /* fonts */
    --font-regular              : "Montserrat", sans-serif;
    --font-monospace            : "Consolas", monospace;
    /* color palette */
    --red         : #bd515a;
    --orange      : #d17f6b;
    --yellow      : #f3d040;
    --green       : #25c5b5;
    --lime        : #94e092;
    --blue        : #425bbd;
    --purple      : #9e4491;
    --pink        : #d95b9a;
    --white       : #f2f2f0;
    --graylight   : #ebe9f2;
    --gray        : #c7c2d1;
    --graydark    : #57546f;
    --black       : #23213d;
    /* sizes */
    --common-border-radius      : .15rem;
    --size-text-control         : 1.1rem;
    --size-text-regular         : 1.1rem;
    --slider-size               : 2rem;
    --slider-buffer             : .3rem;
    /* 3d */
    --height-depressed          : -.20rem;
    --height-flat               : 0; 
    --height-raised             : .20rem;
    --height-focused            : .50rem;
    --height-raised-negative    : calc(-1*var(--height-raised));
    --height-focused-negative   : calc(-1*var(--height-focused));
    --boxshadow-inner-regular   : var(--col-window-edge) 0 var(--height-depressed) 0;
    --boxshadow-outer-regular   : var(--col-window-edge) 0 var(--height-raised) 0;
    --boxshadow-outer-tall      : var(--col-window-edge) 0 var(--height-focused) 0;
    --boxshadow-flush           : var(--col-window-edge) 0 var(--height-flat) 0;
    /* transitions */
    --transition-dark-mode      : .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);/*color 2s ease-in-out, background-color 2s ease-in-out;*/
    --transition-control        : .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
 /* colors */

[data-theme="light"] {
    --col-body-bg               : var(--white);
    --col-text-regular          : var(--black);
    --col-text-url              : var(--green);
    --col-text-emphasis         : var(--red);
    --col-text-code             : var(--graydark);
    --col-text-placeholder      : var(--graylight);
    --col-window-title          : var(--gray);
    --col-window-face           : var(--white);
    --col-window-edge           : var(--gray);
    --col-inset-face            : var(--graylight);
    --col-control-text          : var(--black);
    --col-button-enabled        : var(--white);
    --col-button-disabled       : var(--gray);
    --col-shadows               : var(--gray);
    --col-slider-off            : var(--white);
    --col-slider-on             : var(--red);
}
[data-theme="dark"] {
    --col-body-bg               : var(--black);
    --col-text-regular          : var(--white);
    --col-text-url              : var(--green);
    --col-text-emphasis         : var(--red);
    --col-text-code             : var(--graylight);
    --col-text-placeholder      : var(--graydark);
    --col-window-title          : var(--gray);
    --col-window-face           : var(--graydark);
    --col-window-edge           : var(--black);
    --col-inset-face            : var(--black);
    --col-control-text          : var(--white);
    --col-button-enabled        : var(--graydark);
    --col-button-disabled       : var(--gray);
    --col-shadows               : var(--gray);
    --col-slider-off            : var(--graylight);
    --col-slider-on             : var(--blue);
}
[data-theme="light"] table {
    /*box-shadow: var(--black) 0 2px 6px 0;*/
    box-shadow                  : var(--gray) 2.5rem 1rem 0rem 0rem;
    box-shadow                  : color-mix(in srgb, var(--gray), transparent 90%) .2rem .9rem 0rem 0rem;
    box-shadow                  : color-mix(in srgb, var(--graydark), transparent 90%) 0 2px 19px 0;
}
[data-theme="dark"] table {
    /*box-shadow: 0px 0px 0px 0px;*/
    box-shadow                  : var(--graydark) 0rem 0rem 0rem 0rem;
    /*box-shadow: color-mix(in srgb, var(--gray), transparent 90%) 0rem .7rem 0rem 0rem;*/
}

/*
#light.table {box-shadow: var(--black) 0px 2px 8px 0px;}
#dark table {box-shadow: 0px 0px 0px 0px;}
*/

/* animations */
@keyframes arrive {
    from { transform            : scale(0.5) translateY(00px) rotate(000deg); opacity: 0; }
    to { transform              : scale(1.0) translate(0000px) rotate(000deg); opacity: 1; }
}
* {
    margin                      : 0px;
    padding                     : 0px;
    /*animation                   : arrive .2s ease-in-out 100ms backwards;*/
    transition                  : var(--transition-dark-mode);
}
/* divs for nav screen */
.navigation {
    height                      : 5rem;
    /*debug*/
    /* background-color: #A3BE8C; */
}
.navigation p, .navigation a, .navigation img {
    font-size                   : 1.2rem;
    float: left;;
    height                      : 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.nav-left {
    float                       : left; /*allows navlets to stack leftward*/
    padding-left                : 1rem;
    height                      : 100%;
    max-height                  : 5rem;
    /*debug*/
    /* background-color: #EBCB8B; */
    /* center contents vertically */
    overflow: visible;
    display: flex;
    align-items: center;
}
.nav-right {
    float                       : right; /*allows navlets to stack rightward*/
    padding-right               : 1rem;
    height                      : 100%;
    max-height                  : 5rem;
    /*debug*/
    /* background-color: #EBCB8B; */
    /* center contents vertically */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* divs for splitting content screen */
.content {
    /* pushes nav-divs to page edges, tucks scroll bar.
    /*overflow-y                  : scroll;*/
}
.pane-left              {
    height                      : 100%;
    width                       : 30%;
    float                       : left;
    text-align                  : right;
}
.pane-right             {
    height                      : 100%;
    width                       : 70%;
    float                       : right;
    text-align                  : left;
    overflow-x                  : hidden;
    overflow-y                  : scroll; /*scroll*/
    scroll-snap-type            : y proximity;
    scroll-padding              : 40px; /* should match table top margin */
}
.pane-left table {
    width                       : auto;
    margin-right                : 1rem;
    min-width                   : 300px;
    max-width                   : 300px;
}
.pane-right table {
    margin-left: 1rem
}
@media (max-width: 1080px) { /* pane stuff collapsed */
    body {
        overflow-y: hidden;
    }
    .content {
        height                  : 100%;
        scroll-snap-type        : y proximity;
        scroll-padding          : 40px;
        overflow-y              : scroll;
        width                   : 100%;
    }
    .pane-left {
        width                   : 100%;
        height                  : auto;
    }
    /*.pane-left > table {
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
        font-size:100px;
    }*/
    .pane-right {
        float                   : right;
        width                   : 100%; /* Adjust width for smaller screens */
        height                  : auto;
        overflow-y              : hidden;
        overflow-x              : hidden;
    }
    .pane-left table {
        width                   : 100%;
        margin-right            : auto;
        display                 : none;
    }
    .pane-right table {
        margin-left             : auto;
        width                   : 100%;
    }
    body {
        overflow-y              : auto;
    }
}
/* elements */
.thumbnail {
    width: 100%;
    height: 14rem;
    object-fit: cover;
    border-radius : var(--common-border-radius);
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
}
/* for making nice grids */
.grid-container {
    display                     : grid;
    gap                         : 2rem;
    grid-template-columns       : auto auto;
}
.grid-item {
    height                      : 0px;
}
/* elements */
body {
    background-color            : var(--col-body-bg);
    /*background-image:           url('/hamilton.jpg') ;*/
    /*background-image            : linear-gradient(to bottom, var(--white), var(--white), var(--white), var(--graylight));*/
    margin                      : 0px;
    overflow-y                  : hidden; /* no scroll on body */
    max-width                   : 1224px; /* narrows against ultrawides */
    margin                      : auto; /* centers after narrow */
}
body, p, a, label, table, th, td {
    line-height                 : 1.5rem;
    font-family                 : var(--font-regular);
    font-size                   : var(--size-text-regular);
    color                       : var(--col-text-regular);
}
a                               {color:var(--col-text-regular);font-weight:bold;text-decoration:none;}
a:visited                       {color:var(--col-text-regular);font-weight:bold;text-decoration:none;}
a:active                        {color:var(--col-text-regular);font-weight:bold;text-decoration:none;}
a:hover                         {color:var(--col-text-url);font-weight:bold;text-decoration:none;}
h1, h2, h3, h4, h5, h6 {
    color                       : var(--col-text-regular);
}
/* inner element spacing */
h5, h6, p, a, label {
    margin-top                  : 1rem;
    margin-bottom               : 1rem;
}
h1{
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 40px;
}
h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 30px;
}
h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    
    line-height: 25px;
}
h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 20px;
}

em {
    color                       : var(--col-text-emphasis);
    font-style                  : normal;
}
table {
    margin-left                 : auto;
    margin-right                : auto;
    margin-top                  : 40px;
    margin-bottom               : 40px;
    width                       : calc(100% - 8rem);
    max-width                   : 46rem;
    border-radius               : var(--common-border-radius);
    overflow                    : hidden;
    padding                     : 0px;
    border-spacing              : 0px;
    background-color            : var(--col-window-face);
    /*box-shadow                  : var(--boxshadow-outer-regular);*/
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    /*0px 20px 25px var(--col-shadows),*/
    scroll-snap-align           : start none;
}
th {
    background-color            : var(--col-window-title);
    text-align                  : left;
    font-weight                 : bolder;
    font-size                   : 1.2rem;
    padding                     : .5rem;
    color                       : var(--black);
}
td {
    padding                     : 1.25rem;
}

samp, code, pre {
    padding                     : 1rem;
    color                       : var(--col-text-code);
    background-color            : var(--col-inset-face);
    font-weight                 : bold;
    border-radius               : var(--common-border-radius);
    font-family                 : var(--font-monospace);
    box-shadow                  : var(--boxshadow-inner-regular);
    display                     : inline-block;
}
hr {
    /*border:none;*/
 	width                       : 60%;
    height                      : 0px;
    margin-top                  : 1rem;
    margin-bottom               : 1rem;
    border-top                  : 3px solid var(--graylight);
    border-bottom               : 0px;
    box-shadow                  : var(--gray) 0 -2px 0;
    border-radius               : 10px;
}
aside {
    padding                     : 1rem;
    border-radius               : var(--common-border-radius);
    margin-top                  : 1rem;
    margin-bottom               : 1rem;
    display                     : inline-block;
    overflow                    : hidden;
    width                       : calc(100% - 4rem);
    max-width                   : 46rem;
    text-align                  : left;
    vertical-align              : top;
    box-sizing                  : border-box;
    border-left                 : 2px solid var(--graylight);
    border-color                : var(--col-text-regular);
}
/* controls */
button, input, select {
    /*general*/
    display                     : inline-block;
    overflow                    : hidden;
    position                    : relative;
    /*size*/
    height                      : 3rem;
    border-width                : 0;
    padding-left                : 1rem;
    padding-right               : 1rem;
    margin-top                  : 1rem;
    margin-bottom               : .5rem;
    /*style*/
    border-radius               : var(--common-border-radius);
    color                       : var(--col-text-regular);
    justify-content             : center;
    text-align                  : center;
    align-items                 : center;
    font-size                   : var(--size-text-control);
    font-weight                 : bold;
    font-family                 : var(--font-regular)
    white-space                 : nowrap;
    &:disabled {
        opacity                 : 1;
    };
}
/* buttons */
button {
    min-width                   : 5rem;
    cursor                      : pointer;
    background-color            : var(--col-button-enabled);
    transition                  : var(--transition-dark-mode), box-shadow var(--transition-control), transform var(--transition-control);
    touch-action                : manipulation;
    transform                   : translateY(var(--height-raised-negative)) scale(1);
    box-shadow                  : var(--boxshadow-outer-regular);/*0px 5px 10px var(--button-shadow), */
    &:disabled {
        background-color        : var(--col-button-disabled);
    };
}
button:hover {
    box-shadow                  : var(--boxshadow-outer-tall); /*0px 20px 25px var(--button-shadow),*/
    transform                   : translateY(var(--height-focused-negative)) scale(1);
}
button:active {
    box-shadow                  : var(--boxshadow-flush); /*0px 5px 25px var(--button-shadow), */
    transform                   : translateY(2px) scale(.95);
}
/* text boxes */
input, textarea {
    color                       : var(--col-text-regular);
    background-color            : var(--col-inset-face);
    font-family                 : "Montserrat", sans-serif;
    font-size                   : var(--size-text-control);
    box-shadow                  : var(--boxshadow-inner-regular);
}
input::placeholder, textarea::placeholder {
    color                       : var(--col-text-placeholder);
    transform                   : translateY(0px) scale(1);
    transition                  : var(--transition-dark-mode), transform var(--transition-control);
}
input:focus::placeholder, textarea:focus::placeholder {
    transform                   : translateY(-1rem) scale(0.7);
    transition                  : var(--transition-dark-mode), transform var(--transition-control);
}
/* nice tab focussing - needs work */
button:focus, input:focus, textarea:focus{
    outline                     : 0px solid var(--blue);
    outline-offset              : 4px;
}
/* scrollbar */
::-webkit-scrollbar {
    width                       : 1.86rem;
}
::-webkit-scrollbar-thumb {
    background                  : var(--col-window-face); 
    border-radius               : var(--common-border-radius);
    box-shadow                  : var(--col-window-edge) 0 -9px 0 inset; /*boxshadow-inner-deep ??? */
}
::-webkit-scrollbar-thumb:hover {
    background                  : var(--gray); 
}
::-webkit-scrollbar-track {
    /* background                  : var(--pink); */
}
 /* sliders */
.switch {  /* slider container */
    position                    : relative;
    display                     : inline-block;
    width                       : calc((var(--slider-size) + var(--slider-buffer)) * 2);
    height                      : calc(var(--slider-buffer) * 2 + var(--slider-size));
    margin:1rem;
}
.switch input { /* hide default junk - needs work */
    visibility                  : hidden;
    transition                  : opacity 0s;
    opacity                     : 0;
    width                       : calc((var(--slider-size) + var(--slider-buffer)) * 2);
    height                      : calc(var(--slider-buffer) * 2 + var(--slider-size));
    margin-top                  : 0rem;
    margin-bottom               : 0rem;
}
.slider { /* slider track */
    position                    : absolute;
    cursor                      : pointer;/*inh*/
    top                         : 0;
    left                        : 0;
    right                       : 0;
    bottom                      : 0;
    background-color            : var(--col-slider-off);
    -webkit-transition          : var(--transition-dark-mode), transform var(--transition-control);
    transition                  : var(--transition-dark-mode), transform var(--transition-control);
    border-radius               : var(--common-border-radius);
    box-shadow                  : var(--boxshadow-inner-regular);
}
input:checked + .slider { /* slider track while checked */
    background-color            : var(--col-slider-on);
}
.slider:before { /* slider grip */
    position                    : absolute;
    content                     : "";
    height                      : var(--slider-size);
    width                       : var(--slider-size);
    left                        : var(--slider-buffer);
    bottom                      : var(--slider-buffer);
    background-color            : var(--col-window-face);
    -webkit-transition          : var(--transition-dark-mode), transform var(--transition-control), box-shadow var(--transition-control);
    transition                  : var(--transition-dark-mode), transform var(--transition-control), box-shadow var(--transition-control);
    border-radius               : var(--common-border-radius);
    box-shadow                  : var(--boxshadow-outer-regular); /*0px 10px 25px var(--graydark),*/
    transform                   : translateY(var(--height-raised-negative)) scale(1);
}
.slider:hover:before {
    box-shadow                  : var(--boxshadow-outer-tall); /*0px 10px 25px var(--graydark),*/
    transform                   : translateY(var(--height-focused-negative)) scale(1);
}
/*input:focus + .slider {
    box-shadow                : 0 0 1px #2196F3;
    box-shadow                : var(--col-shadows) 0 -4px 0;
}*/
input:checked + .slider:before {
    -webkit-transform           : translateX(var(--slider-size)) translateY(var(--height-raised-negative));
    -ms-transform               : translateX(var(--slider-size)) translateY(var(--height-raised-negative));
    transform                   : translateX(var(--slider-size)) translateY(var(--height-raised-negative));
}
input:checked + .slider:hover:before {
    -webkit-transform           : translateX(var(--slider-size)) translateY(var(--height-focused-negative));
    -ms-transform               : translateX(var(--slider-size)) translateY(var(--height-focused-negative));
    transform                   : translateX(var(--slider-size)) translateY(var(--height-focused-negative));
}
/* selection */
::-moz-selection {
    color                       : var(--col-body-bg);
    background                  : var(--col-text-regular);
}
::selection {
    color                       : var(--col-body-bg);
    background                  : var(--col-text-regular);
}

/* photo gallery */
.gallery {
    display         : flex;
    gap             : 20px;
    margin          : 20px;
}
.gallery-column {
    display         : flex;
    flex-direction  : column;
    gap             : 20px;
}
.gallery-photo img {
    width           : 100%;
    height          : 100%;
    object-fit      : cover;
}
@media(max-width:768px) {
    .gallery {
        flex-direction: column;
    }
}
/* youtube wrapper */
.youtube-wrapper {
    position        : relative;
    padding-bottom  : 56.25%;
    /* 16:9 */
    padding-top     : 25px;
    height          : 0;
}
.youtube-wrapper iframe {
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
}